@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pohqpr');
  src:  url('fonts/icomoon.eot?pohqpr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pohqpr') format('truetype'),
    url('fonts/icomoon.woff?pohqpr') format('woff'),
    url('fonts/icomoon.svg?pohqpr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yellow-star:before {
  content: "\e900";
  color: #fff40a;
}
.icon-ship:before {
  content: "\e901";
  color: #4d4d4d;
}
.icon-red-star:before {
  content: "\e902";
  color: #f00;
}
.icon-green-star:before {
  content: "\e903";
  color: #2aff2a;
}
.icon-brown-star:before {
  content: "\e904";
  color: #803300;
}
.icon-blue-star:before {
  content: "\e905";
  color: #0055d4;
}
.icon-black-hole .path1:before {
  content: "\e906";
  color: rgb(36, 31, 28);
}
.icon-black-hole .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-black-hole .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-black-hole .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 113);
  opacity: 0.5407;
}
